.triangle_hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.triangle_hero svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.triangle_hero .shape-fill {
    fill: #22325b;
}

.wave_bot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave_bot svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.wave_bot .shape-fill {
    fill: #10739e;
}
.wave_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave_top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.wave_top .shape-fill {
    fill: #50bb98;
}